{% extends 'socketio_app/base.html' %}
{% block scripts %}
{% load static %}

<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<style>
canvas {
    border:1px solid #d3d3d3;
    background-color: #f1f1f1;
}
</style>
<script type="text/javascript" src="{% static 'socketio_app/scripts/Utils.js' %}"></script>
<script type="text/javascript" src="{% static 'socketio_app/scripts/CardManager.js' %}"></script>
<script type="text/javascript" src="{% static 'socketio_app/scripts/Card.js' %}"></script>
<script type="text/javascript" src="{% static 'socketio_app/scripts/GameArea.js' %}"></script>
<script type="text/javascript" src="{% static 'socketio_app/scripts/CardButton.js' %}"></script>
<script type="text/javascript" src="{% static 'socketio_app/scripts/PhaseButton.js' %}"></script>
<script type="text/javascript" charset="utf-8">

function getImageFullPath(path)
{
    return "{% static 'socketio_app/images/' %}" + path;
}

function getIndexPath()
{
    return "{% url 'socketio_app:index' %}";
}


$(document).ready(function(){
	var socket = io.connect();
	
	var width = 900;
	var height = 600;

	CardManager.start(socket, '{{ player_number|escapejs }}', '{{ duel.id|escapejs }}', width, height);

	GameArea.start(width, height);
	
	CardManager.drawPhaseButtons();

	socket.on('connect', function() {
		socket.emit('join_duel_room', {pnum: '{{ player_number|escapejs }}', duelid: '{{ duel.id|escapejs }}' });
	});

	socket.on('begin_duel', function() {
		console.log("Duel began");
		$('#message').text("Duel began.");

	});

	socket.on('display_action_choices', function(msg) {
		CardManager.createCardButtons(msg.cardid, msg.actions);
	});

	socket.on('create_card', function(msg) {
		CardManager.createCard(msg.zone, false, msg.rotation, msg.imgpath, msg.player, msg.cardid);
	});
	
	socket.on('create_cards_in_hand_spectator', function(msg) {
		CardManager.createCardsInHandForSpectator(msg.player, msg.cardids, msg.imgpaths);
	});

	socket.on('move_card', function(msg) {
		CardManager.moveCard(msg.cardid, msg.zone);
	});

	socket.on('rotate_card', function(msg) {
		CardManager.rotateCard(msg.cardid, msg.rotation);
	});

	socket.on('change_card_visibility', function(msg) {
		CardManager.changeCardVisibility(msg.cardid, msg.visibility);
	});

	socket.on('erase_card', function(msg) {
		CardManager.eraseCard(msg.cardid);
	});

	socket.on('choose_card', function(msg) {
		CardManager.enterChooseTargetCardMode(msg.choices);
	});

	socket.on('choose_zone', function(msg) {
		CardManager.enterChooseZoneMode(msg.choices);
	});

	socket.on('phase_change', function(msg) {
		CardManager.PhaseFunctions[msg.phase_name]();
		
	});

	socket.on('start_waiting', function(msg) {
		CardManager.startWaiting(msg.reason);
	});

	socket.on('stop_waiting', function(msg) {
		CardManager.stopWaiting();
	});

	socket.on('ask_question', function(msg) {
		CardManager.askQuestion(msg.question, msg.choices);
	});
	socket.on('choose_next_phase', function(msg) {
		CardManager.chooseNextPhase();
	});
			       
	socket.on('multiple_action_window', function(msg) {
	    CardManager.multipleActionWindow(msg.possible_cards, msg.current_phase_or_step);
	});

	socket.on('change_LP', function(msg) {
             CardManager.changeLP(msg.player, msg.amount);
	
	});

	socket.on('end_duel', function(msg) {
             CardManager.endDuel(msg.winner);	
	});
});

</script>

{% endblock %}
{% block body-classes %}
<!-- <p> This is the duel room for duel number {{ duel.duel_url }}. </p>
<p> You are player {{ player_number }}, with nickname {{ player_nickname }}. </p> -->

<p id="message"></p>
<p id="choice_buttons"></p>


{% endblock %}
