{% extends 'socketio_app/base.html' %}
{% block scripts %}
{% load static %}

<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<style>
canvas {
    border:1px solid #d3d3d3;
    background-color: #f1f1f1;
}
</style>

<script type="text/javascript" src="{% static 'socketio_app/scripts/CardManager.js' %}"></script>
<script type="text/javascript" src="{% static 'socketio_app/scripts/Card.js' %}"></script>
<script type="text/javascript" charset="utf-8">


var QuestionCodes = {'choose_position' : 'Summon monster : choose its position.'} 


var GameArea = {
    canvas : document.createElement("canvas"),
    start : function() {

        this.canvas.width = 900;
        this.canvas.height = 600;
        this.context = this.canvas.getContext("2d");
        document.body.insertBefore(this.canvas, document.body.childNodes[0]);

	window.addEventListener('mousedown', function (e) {
		GameArea.clicking = true;
		GameArea.checkClickEvent(e.pageX, e.pageY, 0);

		//during card movement events, clickMode will be set to -1
	})
	window.addEventListener('mouseup', function (e) {
		GameArea.clicking = false;
		GameArea.checkClickEvent(e.pageX, e.pageY, 1);
	})
    },

    checkClickEvent : function(epageX, epageY, clickOrUnclick) {
		if (CardManager.clickMode == 0)
		{
		    CardManager.checkClickCard(epageX, epageY, clickOrUnclick);
		}
		else if (CardManager.clickMode == 1)
		{
		    CardManager.checkClickCardButton(epageX, epageY, clickOrUnclick);
		}
		else if (CardManager.clickMode == 2)
		{
		    CardManager.checkClickCard(epageX, epageY, clickOrUnclick);
		}
		else if (CardManager.clickMode == 3)
		{
		    CardManager.checkClickPhaseButton(epageX, epageY, clickOrUnclick);
		}

    },

    clear : function() {
	this.context.clearRect(0, 0, this.canvas.width, this.canvas.height);
    }
}

function CoordsAreInsideObject(x,y, obj)
{
	var ret = true;
	if ((obj.bottom < y) || (obj.y > y) || (obj.right < x) || (obj.x > x)) 
	{
		ret = false;
        }
	return ret;
}

function GetZoneCoords(zoneId)
{
	var targetLocation;
	var splitzone = zoneId.split("_");
	if (splitzone[0] == CardManager.perspectiveNo)
	{
	    targetLocation = ZoneCoords["my"][splitzone[1]];
	}
	else
	{
	    targetLocation = ZoneCoords["his"][splitzone[1]];
	}
	return targetLocation;
}

function CardButton(x, y, width, height, text, parentcard)
{
    this.text = text;
    this.parentcard = parentcard;

    this.x = x;
    this.y = y;
    this.width = width;
    this.height = height;
    this.bottom = this.y + this.height;
    this.right = this.x + this.width;

    this.isClicked = false;

    this.draw = function ()
    {
	ctx = GameArea.context;

	if (this.isClicked == false)
	{
		ctx.fillStyle = "blue";
	}
	else
	{
		ctx.fillStyle = "red";
	}
	ctx.fillRect(this.x, this.y, this.width, this.height);
	
	ctx.font = "30px Consolas";
	ctx.fillStyle = "black";
	ctx.fillText(this.text, this.x, this.y + this.height - 3);
    }

    this.undraw = function ()
    {
	GameArea.context.clearRect(this.x, this.y, this.width, this.height);

    }

}

function Coords(x, y)
{
    this.x = x;
    this.y = y;

    this.substract = function(rhs)
    {
	return new Coords(this.x - rhs.x, this.y - rhs.y);
    }
}

function PhaseButton(phase_name, pna, x, y)
{
    this.x = x;
    this.y = y;

    this.width = 50;
    this.height = 35;

    this.bottom = this.y + this.height;
    this.right = this.x + this.width;

    this.isClicked = false;
    this.isClickable = false;
    
    this.isCurrentPhase = false;

    this.phase_name = phase_name;

    this.text = pna;

    this.draw = function ()
    {
	ctx = GameArea.context;

	if(this.isClicked == true)
	{
		ctx.fillStyle = "red";
	}
	else
	{
		ctx.fillStyle = "blue";
	}
	
	ctx.fillRect(this.x, this.y, this.width, this.height);
	
	ctx.font = "30px Consolas";
	ctx.fillStyle = "black";
	ctx.fillText(this.text, this.x, this.y + 27);
    }

    
    this.undraw = function ()
    {
	GameArea.context.clearRect(this.x, this.y, this.width, this.height);

    }
    
}


function getImageFullPath(path)
{
    return "{% static 'socketio_app/images/' %}" + path;
}


$(document).ready(function(){
	var socket = io.connect();
	
	CardManager.start(socket, '{{ player_number|escapejs }}', '{{ duel.id|escapejs }}');

	GameArea.start();
	
	CardManager.drawPhaseButtons();

	socket.on('connect', function() {
		socket.emit('join_duel_room', {pnum: '{{ player_number|escapejs }}', duelid: '{{ duel.id|escapejs }}' });
	});

	socket.on('begin_duel', function() {
		console.log("Duel began");
		$('#message').text("Duel began.");

	});

	socket.on('display_action_choices', function(msg) {
		CardManager.createCardButtons(msg.cardid, msg.actions);
	});

	socket.on('create_card', function(msg) {
		CardManager.createCard(msg.zone, false, msg.rotation, msg.imgpath, msg.player, msg.cardid);
	});
	
	socket.on('set_numcards_in_hands', function(msg) { //Used when refreshing the view for a new spectator
		CardManager.numcards_in_my_hand = msg["0_Hand_numcards"];
		CardManager.numcards_in_his_hand = msg["1_Hand_numcards"];
	});

	socket.on('move_card', function(msg) {
		CardManager.moveCard(msg.cardid, msg.zone);
	});

	socket.on('rotate_card', function(msg) {
		CardManager.rotateCard(msg.cardid, msg.rotation);
	});

	socket.on('change_card_visibility', function(msg) {
		CardManager.changeCardVisibility(msg.cardid, msg.visibility);
	});

	socket.on('erase_card', function(msg) {
		CardManager.eraseCard(msg.cardid);
	});

	socket.on('choose_card', function(msg) {
		CardManager.enterChooseTargetCardMode(msg.zonetype, msg.target_player);
	});

	socket.on('phase_change', function(msg) {
		CardManager.PhaseFunctions[msg.phase_name]();
		
	});

	socket.on('start_waiting', function(msg) {
		CardManager.cachedClickMode = CardManager.clickMode;
		CardManager.clickMode = -1;
		$("#message").text(msg.reason + " : waiting for other player to respond.");
		$("#choice_buttons").html("");
	});

	socket.on('stop_waiting', function(msg) {
		CardManager.clickMode = CardManager.cachedClickMode;
		$('#message').text("");
	});

	socket.on('ask_question', function(msg) {
		CardManager.cachedClickMode = CardManager.clickMode;
		CardManager.clickMode = -1;
	
		parts = msg.question.split(":");
		if (parts[0] == "response_window")
		{
		     $("#message").text(parts[1] + " : do you wish to respond?");
		}
		else
		{
		     $("#message").text(QuestionCodes[parts[0]]);
		}
		choices = msg.choices.split("_");
		html_buttons = "";
		for(var i = 0; i < choices.length; i++)
		{
			cur_button = "<button id=\"" + "btn" + i + "\">" + choices[i] + "</button>";
			html_buttons = html_buttons + cur_button;
		}
		$("#choice_buttons").html(html_buttons);
		for(var i = 0; i < choices.length; i++)
		{
		    $("#btn" + i).click(function() {
			CardManager.sendAnswer(msg.question, $(this).text() );
		    });
		}
	});
	socket.on('choose_next_phase', function(msg) {
		CardManager.clickMode = 3;
		$("#message").text("Choose the next phase");
	
	});
			       
	socket.on('multiple_action_window', function(msg) {
	    CardManager.cachedClickMode = 0;
            CardManager.clickMode = 0;
	    
	    $("#message").text(msg.current_phase_or_step + " : Launch actions");
	    button_html = "<button id=\"Pass\">Pass</button>";
	    $("#choice_buttons").html(button_html);
	    $("#Pass").click(function() {
		CardManager.passAction();		       
	    });	       	
	});

	socket.on('change_LP', function(msg) {
             CardManager.changeLP(msg.player, msg.amount);
	     //For some reason, setTimeout caused a weird unsolicited response bug if I put it in the CardManager.changeLP function
	     //But wait, it also happens when setTimeout is placed here!
	
	});



	
});

</script>

{% endblock %}
{% block body-classes %}
<!-- <p> This is the duel room for duel number {{ duel.duel_url }}. </p>
<p> You are player {{ player_number }}, with nickname {{ player_nickname }}. </p> -->

<p id="message"></p>
<p id="choice_buttons"></p>
{% endblock %}
