{% extends 'socketio_app/base.html' %}
{% block scripts %}
{% load static %}

<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<style>
canvas {
    border:1px solid #d3d3d3;
    background-color: #f1f1f1;
}
</style>
<script type="text/javascript" charset="utf-8">
var myGameArea = {
    canvas : document.createElement("canvas"),
    start : function() {
        this.canvas.width = 900;
        this.canvas.height = 600;
        this.context = this.canvas.getContext("2d");
        document.body.insertBefore(this.canvas, document.body.childNodes[0]);
	this.interval = setInterval(updateGameArea, 20);
	window.addEventListener('mousedown', function (e) {
		myGameArea.clicking = true;
	})
	window.addEventListener('mouseup', function (e) {
		myGameArea.clicking = false;
	})
	window.addEventListener('mousemove', function(e) {
		myGameArea.mousex = e.pageX;
		myGameArea.mousey = e.pageY;
        })
    },
    clear : function() {
	this.context.clearRect(0, 0, this.canvas.width, this.canvas.height);
    }
}

var CardManager = {
    start : function(socket, clientnumber, duelid) 
    {
	this.clientNo = clientnumber;
	this.duelid = duelid;
        this.socket = socket;
        this.card_verso = new Image();
        this.card_verso.src =  "{% static 'socketio_app/images/back_cover.jpg' %}";

        this.cards = [];
	this.cardsById = new Object();
    }
}

function cardButton(x, y, width, height, text, parentcard)
{
    this.text = text;
    this.parentcard = parentcard;

    this.x = x;
    this.y = y;
    this.width = width;
    this.height = height;
    this.bottom = this.y + this.height;
    this.right = this.x + this.width;

    this.beingclicked = false;
    this.justunclicked = false;
    this.mousewasonbeforeclick = false;
    
    this.mouseon = function() {
	var ret = true;
	if ((this.bottom < myGameArea.mousey) || (this.y > myGameArea.mousey) || (this.right < myGameArea.mousex) || (this.x > myGameArea.mousex)) 
	{
		ret = false;
        }
	return ret;
    }

    this.update = function() 
    {
	if (this.justunclicked == true)
	{
	    this.justunclicked = false;
	}

	if ( this.mouseon() && myGameArea.clicking == false)
	{
		this.mousewasonbeforeclick = true;
	}
	if (this.mousewasonbeforeclick == true && myGameArea.clicking == true) 
	{
		this.beingclicked = true;
	}
	
	if (this.beingclicked == true && myGameArea.clicking == false && this.mouseon() == true) 
	{
		this.justunclicked = true;
		this.beingclicked = false;
		this.parentcard.manager.socket.emit('button_activated', {pnum: this.parentcard.manager.clientNo, duelid: this.parentcard.manager.duelid });
		this.parentcard.delete_card_buttons();
	}

	if( this.mousewasonbeforeclick == true && this.mouseon() == false ) 
	{
		this.mousewasonbeforeclick = false;
	}

	if (this.beingclicked == true && myGameArea.clicking == false && this.mouseon() == false) 
	{
		this.beingclicked = false;
	}

    	ctx = myGameArea.context;
	var color = this.beingclicked ? "red" : "blue";

	ctx.fillStyle = color;
	ctx.fillRect(this.x, this.y, this.width, this.height);
	
	ctx.font = "30px Consolas";
	ctx.fillStyle = "black";
	ctx.fillText(this.text, this.x, this.y + 30);
	

    }

	




}


function card(x, y, face_up, src, manager, ownerNo, id)
{
    this.x = x;
    this.y = y;

    this.manager = manager;
    this.ownerNo = ownerNo;
    this.id = id;

    this.rectosrc = src;
    this.recto = new Image(); 
    this.recto.src = "{% static 'socketio_app/images/' %}" + this.rectosrc;
    this.face_up = face_up;
    this.image_to_draw = face_up ? this.recto : this.manager.card_verso;

    this.scale = 1.0;
    this.width = 60;
    this.height = 88;

    this.right = this.x + this.width;
    this.bottom = this.y + this.height;
    this.top = this.y;

    this.mousewason = false;

    this.cardButtons = [];

    this.turn_face_down = function() 
    {
	this.face_up = false;
	this.image_to_draw = this.manager.card_verso;
    }

    this.turn_face_up = function ()
    {
	this.face_up = true;
	this.image_to_draw = this.recto;
    }

    this.create_card_buttons = function(actionlist)
    {
	console.log("creating card buttons");
	var newtop = this.y - actionlist.length*30;
	
	for(var i = 0; i < actionlist.length; i++)
	{
	    this.cardButtons.push(new cardButton(this.x, newtop + i*30, 60, 30, actionlist[i], this));
	}

	this.top = newtop;
    }

    this.delete_card_buttons = function()
    {
	this.cardButtons.splice(0, this.cardButtons.length);
	this.top = this.y;
    }

    this.mouseon = function() {
	var ret = true;
	if ((this.bottom < myGameArea.mousey) || (this.top > myGameArea.mousey) || (this.right < myGameArea.mousex) || (this.x > myGameArea.mousex)) 
	{
		ret = false;
        }
	return ret;
    }

    
    this.update = function() 
    {
	if (this.ownerNo == this.manager.clientNo)
	{

	    if (this.mouseon() && this.mousewason == false)
	    {
	        this.mousewason = true;
		this.manager.socket.emit("ask_for_action_choices", {pnum: this.manager.clientNo, duelid: this.manager.duelid, cardid: this.id});
	  	
	    }
	    if (this.mouseon() == false && this.mousewason == true)
            {
	        this.mousewason = false;
		this.delete_card_buttons();
	        
            }
	}
	    
	ctx = myGameArea.context;
	ctx.drawImage(this.image_to_draw, this.x, this.y, this.width, this.height);

	for(var i = 0; i < this.cardButtons.length; i++)
	{
		this.cardButtons[i].update();
	}
    }
}


function updateGameArea() {
    myGameArea.clear();
    
    for(var i = 0; i < CardManager.cards.length; i++)
    {
	CardManager.cards[i].update();
    }
}

$(document).ready(function(){
	var socket = io.connect();
	myGameArea.start();
	CardManager.start(socket, '{{ player_number|escapejs }}', '{{ duel.id|escapejs }}');


	var firstcard = new card(120, 120, true, "barrel_dragon.png", CardManager, 0, "1");
	CardManager.cards.push( firstcard );
	CardManager.cardsById["1"] = firstcard;
	

	socket.on('connect', function() {
		socket.emit('join_duel_room', {pnum: '{{ player_number|escapejs }}', duelid: '{{ duel.id|escapejs }}' });
	});

	socket.on('display_action_choices', function(msg) {
		CardManager.cardsById[msg.cardid].create_card_buttons(msg.actions);

	});

	socket.on('begin_duel', function() {
		console.log("Duel began")
	});
});

</script>

{% endblock %}
{% block body-classes %}
<p> This is the duel room for duel number {{ duel.duel_url }}. </p>
<p> You are player {{ player_number }}, with nickname {{ player_nickname }}. </p>

{% endblock %}
