{% block scripts %}

<script type="text/javascript" charset="utf-8">
$(document).ready(function(){
	var socket = io.connect();
	
	$('button#JoinAsPlayer').click(function(event) {
		$(this).attr('disabled', true);
		document.getElementById("JoinAsSpectator").disabled = true;
		socket.emit('join_as_player', {data: $('#nickname').val(), duel: '{{ duel_url|escapejs }}' });
	});
	
	socket.on('begin_duel', function() {
		location.reload(true)
	});

});
</script>
{% endblock %}


{% block body-classes %}
<input type="text" name="nickname" id="nickname" placeholder="Nickname">

<button id="JoinAsPlayer" type="button">Join As Player</button>
<button id="JoinAsSpectator" type="button">Join As Spectator</button>

{% endblock %}

<!-- This code was meant to work with the old "enter_duel" view -->
